<section ng-if = '$ctrl.weather'>
  <main>
    <img ng-src="{{$ctrl.imageLookup[$ctrl.weather.icon]}}"/>
    <h1>Summary: {{$ctrl.weather.summary}}</h1>
    <ul style ='list-style: none;' ng-repeat = 'x in $ctrl.weather.data'>
      <li>Day: {{x.time * 1000 | date: 'EEEE'}}</li>
      <li>Summary: {{ x.summary}}</li>
      <li>High: {{x.temperatureMax | number: 0}}&deg;F</li>
      <li>Low: {{x.temperatureMin | number: 0}}&deg;F</li>
      <li>Precipitation Probability: {{x.precipProbability | percentage}}</li>
      <li>Humidity: {{x.humidity | percentage}}</li>
      <li>UV Index: {{x.uvIndex}}</li>
    </ul>
  </main>
</section>
