<section ng-if = '$ctrl.weather'>
  <main>
    <img ng-src = "{{ $ctrl.imageLookup[$ctrl.weather.icon] || $ctrl.missingImage }}" />
    <!-- <p>{{ $ctrl.weather.time * 1000 | date:'medium'}}</p> -->
    <h1>Summary: {{$ctrl.weather.summary}}</h1>
    <table cellspacing = '10'>
      <tr>
      <th align='center'>Time</th>
      <th align ='center'>Precipitation Probability</th>
      </tr>
      <tr ng-repeat = 'x in $ctrl.weather.data'>
        <td align='center'>{{x.time * 1000 | date:'hh:mm a' }}</td>
        <td align ='center'>{{x.precipProbability | percentage}}</td>
      </tr>
    </table>
  </main>
</section>
