<section ng-if = '$ctrl.weather' id = 'hourly'>
<header align = 'center'>
  <h2 style= 'text-decoration: underline;'>Hourly Forecast</h2>
</header>
  <main align = 'center'>
    <img ng-src="{{ $ctrl.imageLookup[$ctrl.weather.icon] }}" width ='128' height = '128'/>
    <h3>{{$ctrl.weather.summary}}</h3>
    <ul style ="list-style: none; display: inline-block;" ng-repeat = 'x in $ctrl.weather.data' align = 'center'>
        <li style = 'font-weight: bold;'>{{x.time * 1000 | date: 'h:mm a'}}</li>
        <li><img ng-src="{{$ctrl.imageLookup[x.icon] }}" width = '64' height = '64'></li>
        <li>{{x.summary}}</li>
        <li>Temperature: {{x. temperature | number: 0 }}&deg;F</li>
        <li>Feels Like: {{x.apparentTemperature | number: 0}}</li>
        <li>Humidity: {{x.humidity | percentage}}</li>
        <li>Precipitation Probability: {{x.precipProbability | percentage}}</li>
      </ul>
  </main>
</section>
<br>
