<section>
  <div>
    <label>Latitude:</label>
    <input type="number" ng-model = '$ctrl.lat'/>
  </div>
  <div>
    <label>Longitude:</label>
    <input type="number" ng-model = '$ctrl.lon'/>
  </div>
  <div>
    <button type = 'button' ng-click ='$ctrl.search()'>Search</button>
  </div>
</section>
<section ng-if = '$ctrl.weatherData'>
  <main>
    <h1>Summary: {{$ctrl.weatherData.summary}}</h1>
    <img ng-src="{{$ctrl.imageLookup[$ctrl.weatherData.icon]}}"/>
    <table cellspacing = '10'>
      <tr>
        <th align = 'center'>Time</th>
        <th align = 'center'>Summary</th>
        <th align = 'center'>Temperature</th>
        <th align = 'center'>Feels Like</th>
        <th align = 'center'>Humidity</th>
        <th align = 'center'>Precipitation Probability</th>
      </tr>
      <tr ng-repeat = 'x in $ctrl.weatherData.data'>
        <td align = 'center'>{{x.time * 1000 | date: 'hh:mm a'}}</td>
        <td align = 'center'>{{x.summary}}</td>
        <td align = 'center'>{{x.temperature | number: 0}}&deg;F</td>
        <td align = 'center'>{{x.apparentTemperature | number: 0}}&deg;F</td>
        <td align = 'center'>{{x.humidity | percentage}}</td>
        <td align = 'center'>{{x.precipProbability | percentage}}</td>
      </tr>
    </table>
  </main>
</section>
