<section ng-if = '$ctrl.weather'>
  <nav align = 'center'>
    <a href="#currently">Currently</a>
    <a href="#minutely">Minutely</a>
    <a href="#hourly">Hourly</a>
    <a href="#daily">Daily</a>
  </nav>
  <header align = 'center'>
    <h2>The date/time is {{ $ctrl.weather.time * 1000 | date:'medium'}}</h2>
    <h1 style = 'text-decoration: underline;'>Current Weather</h1>
  </header>
  <main align ='center'>
    <img ng-src = "{{ $ctrl.imageLookup[$ctrl.weather.icon] }}" width ='128' height = '128'/>
    <h3>{{$ctrl.weather.summary}}</h3>
    <ul style = 'list-style: none;'>
      <li>Temperature: {{$ctrl.weather.temperature | number: 0}}&deg;F</li>
      <li>Feels Like:{{$ctrl.weather.apparentTemperature | number: 0}}&deg;F</li>
      <li>Humidity: {{$ctrl.weather.humidity | percentage }}</li>
      <li>Precipitation Probability: {{ $ctrl.weather.precipProbability | percentage }}</li>
      <li>UV Index: {{$ctrl.weather.uvIndex}}</li>
    </ul>
  </main>
</section>
<br>
